
body{
    margin: 0;
    
}
#home{
    text-align: center;
    display: grid;
     grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr; 
    /* flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    width: 100vw;
min-height: 100vh;
    /* background-color:wheat; */
    background-image: url("./stonetile2.jpg");


    /* border: solid 2px black; */
}

#middle{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 40em;
        /* border: 2px solid red; */

}
h1{
    margin: 0;
    color: white;
}

#canvas{

}

#canvasHold{
    justify-self: center;
    align-self:start;
    
    /* display: flex;
    justify-content: center     ;
    align-items: center; */
    /* border: solid -2px black; */
    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
    background-color: transparent;
    

 

}




#playerStats{
    color: white;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
        width: 90%;
    /* background-color: darkseagreen; */
    /* background-image: url("./stonetile2.jpg"); */

    overflow-y: auto;
    border: gray ridge 10px;


}
#title{
    background-color:sandybrown;
    /* border: 2px solid black; */
    background-image: url("./stonetile2.jpg");

}

.weapons{

    width: 80px;
    height: 100px;
}
#weaponCollection{
    display: grid;
    grid-template-columns:auto auto auto;
    column-gap: 20px;
    row-gap: 20px;


}
#wepaonListElement{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 15px;
    padding: 5px    ;
    background-color: wheat;
 

}





#infoBg{
color: white;   

}